<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>登陆到To-Do-List</title>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
	<script type="text/javascript" src="/static/js/login.js"></script>
</head>

<body>
	<div id="login_frame">
	<p id="image_logo"><img src="/static/images/login/logo.png"></p>
	<form method="post" action="login.js">
		<p><label class="label_input">用户名</label><input type="text"class="text_field"/></p>
		<p><label class="label_input">密码</label><input type="text" id="password"class="text_field"/></p>
		<div id="login_control">
		<input type="button"id="btn_login" value="登陆" onClick="login();"/>
		</div>
        <div id="forget_control">
		<a id="forget_pwd" href="forget_pwd.html">忘记密码？</a>
		</div>
		</form>
	</div>
</body>
</html>
