<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">
    <title>To-Do-List</title>
  </head>

  <body>
  <h2>恭喜您，注册成功！</h2>
  <p>网页会在3秒后自动跳转，若没有跳转，请点击</p>
  <a href="/login.html/">跳转</a>
  </body>
    <span style="font-size:18px;"> </span>
    <span style="font-size:24px;">
        <meta http-equiv="refresh" content="3;URL=login.html">
    </span>
</html>
