<!DOCTYPE html>
<lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/favicon.ico">
    <title>To-Do-List</title>
  </head>

  <body>
  <h2>恭喜您，注册成功！</h2>
  </body>
    <p>网页会在<span id="totalSecond">3</span>秒后自动跳转，若没有跳转，请点击<a href="{% url 'login' %}">这里</a></p>
        <script language="javascript" type="text/javascript">
        var second = document.getElementById('totalSecond').textContent;

        if (navigator.appName.indexOf("Explorer") > -1)  {
            second = document.getElementById('totalSecond').innerText;
        } else {
            second = document.getElementById('totalSecond').textContent;
        }

        setInterval("redirect()", 1000);
        function redirect() {
        if (second < 0) {
            location.href = "{% url 'login' %};
        } else {
            if (navigator.appName.indexOf("Explorer") > -1) {
                document.getElementById('totalSecond').innerText = second--;
            } else {
                document.getElementById('totalSecond').textContent = second--;
            }
        }
        }
        </script>
</html>
