body {
    background: #ebebeb;
    /**/
}
.main{
    position:fixed;
    left :10%;
    top:10%;
}

.text{
    color: #383bff;
    position: fixed;
    font-size: 50px;
    top: 20%;
}
.span_text{
    font-size: 30px;
}