html {
  position: relative;
  min-height: 100%;
}
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
  	padding-top: 4rem;
	background-image: url("../images/main_page/main_page.jpeg");
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
    background-position: center 0;
	margin-bottom: 10px;
    zoom: 1;
}
.collapse{
    color: #000;
}

.main_right {
    padding-right:0;
    height:100%!important;
    padding-left:0
}
.content{
    float: right;
	height: 90%;
    width: 85%;
    overflow-y:hidden
}
.side_menu {
    background-color: #f1f1f1;
    width: 15%;
    float: left;
    padding: 15px;
}
.user_img{
    background-color: #ffff17;
    margin:auto;
    width: 100px;
    height: 100px;
    float: top;
}
.side_menu ul {
    width: 150px;
    list-style-type: none;
    position: absolute;
    bottom: 55px;
}
.side_menu li a {
    float: bottom;
    margin-bottom: 4px;
    display: block;
    padding: 15px;
    background-color: #eee;
    text-decoration: none;
    color: #666;
}
.side_menu li a:hover {
    background-color: #555;
    color: white;
}
.side_menu li a.active {
    background-color: #008CBA;
    color: white;
}
.main-todo {
    width:48%;
    height:100%;
    float:left;
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 5px;
}
.main-analysis {
    margin-right: 2%;
    width:48%;
    height:50%;
    float:right;
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 5px;
}
.main-memo {
    margin-right: 2%;
    width:48%;
    height:49%;
    float:right;
    background-color: rgba(240, 255, 255, 0.7 );
    background-size: inherit;
    border-radius: 5px;
}
.main-todo {
    border-bottom: 2px solid #fffd0a;
 	border-left:2px solid #fffd0a;
    border-right:2px solid #fffd0a;
    border-top: 2px solid #fffd0a;
}
.main-analysis {
 	border-bottom: 2px solid #ff100a;
 	border-left:2px solid #ff100a;
    border-right:2px solid #ff100a;
    border-top: 2px solid #ff100a;
}
.main-memo {
    display: flex;
    border-bottom: 2px solid #4f3bff;
 	border-left:2px solid #4f3bff;
    border-right:2px solid #4f3bff;
    border-top: 2px solid #4f3bff;
    margin-top: 5px;
}
.inner_div{
    display: block;
    float: left;
    background-color: #4cd212;
    width: 40px;
    height: 100%;
    margin-top:auto;
    margin-bottom: auto;
    border-radius: 5px;
    line-height: 40px;
}
.p_memo {
    text-shadow: 2px 2px #4f3bff;
    text-align: center;
    font-family: "Times New Roman";
    font-size: x-large;
    color: #fffd0a;
}
.add_memo{
    display: block;
    overflow: hidden;
    width: 100%;
    float: right;
    background-color: #fffd0a;
    color:#ff0707;
}

#_text {
    white-space: wrap; /*允许文本框中的文本换行*/
    text-align: left;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background-color: rgba(240, 255, 255, 0.7);
    background-image: url("/static/images/main_page/memo.jpg");
    background-position: left top;
}
.add_todo{
    display: block;
    float: top;
    background-color: #4cd212;
    width: 100%;
    height: 40px;
    margin-top:auto;
    margin-bottom: auto;
    border-radius: 5px;
    line-height: 40px;
}

.label_todo{
    margin-left: 15px;

}
.col-md-11 {
    text-align: center;
}

code {
  font-size: 80%;
}

.footer {
  position: absolute;
  background-color: rgba(240, 255, 255, 0.7);
  border-radius: 5px;  
  bottom: 9px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 35px; /* Vertically center the text there */
}

