body {
    font-family: "Lato", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/static/images/main_page/background.jpeg");
    background-size: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
    background-position: center 0;
}

.sidenav {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 120px;
}


.sidenav a {
    padding: 8px 8px 4px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    margin-left: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.iconfont{
	font-family:"iconfont";
	font-size:45px;
    color: #f9ffff;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-left:20px
}
.iconfont:hover{
    color: #2c1bff;
}

.modal-body li{
    decoration: none;
}

.side_clock{
    width: 180px;
    height:800px;
    left: 10px;
    top:10px;
    position: absolute;
}
.center_todo{
    height: 800px;
    margin:0 310px 0 200px;
    width: 1000px;
    text-align: right;
    overflow: hidden;
}

.right_memo{
    right: 10px;
    top: 10px;
    width: 100px;
    height: 800px;
    position: absolute;
    text-align: center;
}
#clock_date{
    font-size: 35px;
    color: white;
    font-family: "Times New Roman";
    margin-top: 20px;
}
#clock_time{
    font-size: 25px;
    font-family: "Times New Roman";
    color: white;
}

#user_img{
    top:50px;
    position: absolute;
    margin-bottom:20px;
}
#find{
    margin-left: 8px;
    bottom: 15px;!important;
    position: absolute;
}
#foot{
    bottom: 40px;
    height: 80px;
    width: 100%;
    background-color: #818181 0.8;
    position: fixed;
}

.foot_menu{
    height: 60px;
    width: 180px;
    margin:auto;
}
.foot_label{
    margin-top: 20px;
    height: 30px;
    color: white;
    text-align: center;
}
.foot_label a{
    color:white;
}



/*以下区域控制中间todo的显示*/
.todo{
    height: 120px;
}
.todo span{
    margin-top: 20px;
}

.todo li{
    overflow: hidden;
    list-style: none;
}

.first span{
    color: white;
}

.second span{
    color: #A4D3EE;
}
.third span{
    color: #96CDCD;
}
.forth span{
    color: #778899 ;
}
.first li{
    height: 70px;
    margin-top: 20px;
    font-size: 55px;
    color: white;
}
.second li{
    height: 55px;
    margin-top: 20px;
    font-size: 40px;
    color: #A4D3EE;
}
.third li{
    height: 45px;
    margin-top: 20px;
    font-size: 30px;
    color: #96CDCD;
}
.forth li{
    height: 35px;
    margin-top: 20px;
    font-size: 25px;
    color: #778899 ;
}
/*阿里的图标*/
@font-face {
  font-family: 'iconfont';  /* project id 688321 */
  src: url('//at.alicdn.com/t/font_688321_yya8amgbxym34n29.eot');
  src: url('//at.alicdn.com/t/font_688321_yya8amgbxym34n29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_688321_yya8amgbxym34n29.woff') format('woff'),
  url('//at.alicdn.com/t/font_688321_yya8amgbxym34n29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_688321_yya8amgbxym34n29.svg#iconfont') format('svg');
}