body {
    font-family: "Lato", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url("/static/images/main_page/background.jpg");
    background-size: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
    background-position: center 0;
    width: 100%;
    height: 100%;
}

.sidenav {
    height: 95%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 120px;
}


.sidenav a {
    padding: 8px 8px 4px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    margin-left: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.iconfont{
	font-family:"iconfont";
	font-size:45px;
    color: #f9ffff;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-left:20px
}
.iconfont:hover{
    color: #03ff36;
}

.modal-body li{
    decoration: none;
}

#main{
    z-index: 99;
    width: 100%;
}
.side_clock{
    float: left;
    width: 180px;
    height:800px;
    left: 10px;
    top:10px;
    position: absolute;
}
.right_memo{
    position: relative;
    height: 500px;
    width: 600px;
    float: right;
    text-align: right;
    overflow: hidden;
}

#clock_date{
    font-size: 35px;
    color: white;
    font-family: "Times New Roman";
    margin-top: 20px;
}
#clock_time{
    font-size: 25px;
    font-family: "Times New Roman";
    color: white;
}

#user_img{
    top:50px;
    position: absolute;
    margin-bottom:20px;
}
#find{
    margin-left: 8px;
    bottom: 15px;!important;
    position: absolute;
}
#foot{
    bottom: 40px;
    height: 80px;
    width: 100%;
    background-color: #818181 0.8;
    position: fixed;
}

.foot_menu{
    height: 60px;
    width: 180px;
    margin:auto;
}
.foot_label{
    margin-top: 20px;
    height: 30px;
    color: white;
    text-align: center;
}
.foot_label a{
    color:white;
}



/*以下区域控制右边todo的显示*/
.todo_table{
    height: 500px;
    width: 580px;
    overflow: hidden;
}
/* color on hover */
.todo_table ul li:hover {
  color: #f9ff05;
}
.todo_table ul{
    overflow: hidden;
}

/* Style the close button */
.close  {
    position: absolute;
    line-height: 15px;
    padding: 8px 8px 8px 8px;
    color: white;
}
.close:hover{
    color: #f9ff05;
}

/* Style the list items */
.todo_table ul li {
    right: 10px;
    text-align: left;
    list-style: initial;
    margin-top: 10px;
    cursor: pointer;
    font-size: 30px;
    transition: 0.2s;
    color: white;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*阿里的图标*/
@font-face {
  font-family: 'iconfont';  /* project id 688321 */
  src: url('//at.alicdn.com/t/font_688321_kohuqe4mm8d.eot');
  src: url('//at.alicdn.com/t/font_688321_kohuqe4mm8d.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_688321_kohuqe4mm8d.woff') format('woff'),
  url('//at.alicdn.com/t/font_688321_kohuqe4mm8d.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_688321_kohuqe4mm8d.svg#iconfont') format('svg');
}