html {
  position: relative;
  min-height: 100%;
}
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
  	padding-top: 4rem;
	background-image: url("../images/main_page/main_page.jpeg");
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
    background-position: center 0;
	margin-bottom: 10px;
    zoom: 1;
}
.collapse{
    color: #000;
}

#main {
    padding-right:0;
    margin-left:10%;
    height:100%!important;
    padding-left:0
}
.content{
	height: 90%;
    width: 100%;
    overflow-y:hidden

}

.main-todo {
    width:48%;
    height:100%;
    float:left;
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 5px;
}
.main-analysis {
    margin-right: 2%;
    width:48%;
    height:50%;
    float:right;
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 5px;
}
.main-memo {
    margin-right: 2%;
    width:48%;
    height:49%;
    float:right;
    background-color: rgba(240, 255, 255, 0.7 );
    border-radius: 5px;
}
.main-todo {
    border-bottom: 2px solid #fffd0a;
 	border-left:2px solid #fffd0a;
    border-right:2px solid #fffd0a;
    border-top: 2px solid #fffd0a;
}
.main-analysis {
 	border-bottom: 2px solid #ff100a;
 	border-left:2px solid #ff100a;
    border-right:2px solid #ff100a;
    border-top: 2px solid #ff100a;
}
.main-memo {
    display: flex;
    border-bottom: 2px solid #4f3bff;
 	border-left:2px solid #4f3bff;
    border-right:2px solid #4f3bff;
    border-top: 2px solid #4f3bff;
    margin-top: 5px;
}
.rank-line {
 padding:10px 0 10px 10px;
 font-size:16px;
 cursor:pointer
}
.rank-line {
 color:#F76333
}
.rank-line {
 color:#FEAE6A
}
.inner_div{
    display: block;
    float: left;
    background-color: #4cd212;
    width: 40px;
    height: 100%;
    margin-top:auto;
    margin-bottom: auto;
    border-radius: 5px;
    line-height: 40px;
}
.memo {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 宋体;
    font-size: x-large;
    color: #fffd0a;
}
.add_memo{
    display: block;
    overflow: hidden;
    width: 100%;
    float: right;
    background-color: #fffd0a;
    color:#ff0707;
}

#_text {
    text-align: left;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background-color: rgba(240, 255, 255, 0.7);
    background-image: url("/static/images/main_page/memo.jpg");
}
.add_todo{
    display: block;
    float: top;
    background-color: #4cd212;
    width: 100%;
    height: 40px;
    margin-top:auto;
    margin-bottom: auto;
    border-radius: 5px;
    line-height: 40px;
}

.label_todo{
    margin-left: 15px;

}
.col-md-11 {
    text-align: center;
}

code {
  font-size: 80%;
}

.footer {
  position: absolute;
  background-color: rgba(240, 255, 255, 0.7);
  border-radius: 5px;  
  bottom: 9px;
  width: 88%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 35px; /* Vertically center the text there */
}



