html {
  position: relative;
  min-height: 100%;
}
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
  	padding-top: 4rem;
	background-image: url("../images/main_page/main_page.jpeg");
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background-repeat: no-repeat;
    background-position: center 0;
	margin-bottom: 10px;
    zoom: 1;
}
.collapse{
    color: #000;
}

.main_right {
    padding-right:0;
    height:100%!important;
    padding-left:0
}
.content{
    float: right;
	height: 90%;
    width: 85%;
    overflow-y:hidden
}
.side_menu {

    width: 15%;
    float: left;
    padding: 20px 20px 0px 0px ;
}
.user_img{
    border-radius: 100px;
    text-align: justify;
    background-color: #ffff17;
    margin:auto;
    width: 100px;
    height: 100px;
    float: top;
}

.side_menu ul {
    margin-left: 0;
    left:0px;
    width: 200px;
    list-style-type: none;
    bottom: 55px;
}
.side_menu li{
    padding-top: 10px;
    left: 0;

}
.side_menu li a {
    float: left;
    display: block;
    padding: 15px;
    margin-top: 5px;
    background-color: #eee;
    text-decoration: none;
    color: #666;
    width:100px;
    text-align: center;
    border-radius: 5px ;
}
.side_menu li a:hover {
    background-color: #555;
    color: white;
}
.side_menu li a.active {
    background-color: #008CBA;
    color: white;
}
.main-todo {
    wrap:true;
    width:48%;
    height:100%;
    float:left;
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 5px;
    overflow: scroll;
}
.main-analysis {
    margin-right: 2%;
    width:48%;
    height:50%;
    float:right;
    background-color: rgba(240, 255, 255, 0.7);
    border-radius: 5px;
}
.main-memo {
    margin-right: 2%;
    width:48%;
    height:49%;
    float:right;
    background-color: rgba(240, 255, 255, 0.7 );
    background-size: inherit;
    border-radius: 5px;
}
.main-todo {
    border-bottom: 2px solid #fffd0a;
 	border-left:2px solid #fffd0a;
    border-right:2px solid #fffd0a;

}
.main-analysis {
 	border-bottom: 2px solid #ff100a;
 	border-left:2px solid #ff100a;
    border-right:2px solid #ff100a;
    border-top: 2px solid #ff100a;
}
.main-memo {
    display: flex;
    border-bottom: 2px solid #4f3bff;
 	border-left:2px solid #4f3bff;
    border-right:2px solid #4f3bff;
    border-top: 2px solid #4f3bff;
    margin-top: 5px;
}
.inner_div{
    display: block;
    float: left;
    background-color: #4cd212;
    width: 40px;
    height: 100%;
    margin-top:auto;
    margin-bottom: auto;
    border-radius: 5px;
    line-height: 40px;
}
.p_memo {
    text-shadow: 2px 2px #4f3bff;
    text-align: center;
    font-size: x-large;
    color: #fffd0a;
}
.add_memo{
    display: block;
    overflow: hidden;
    width: 100%;
    float: right;
    background-color: #fffd0a;
    color:#ff0707;
}

#_text {
    white-space: wrap; /*允许文本框中的文本换行*/
    text-align: left;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background-color: rgba(240, 255, 255, 0.7);
    background-image: url("/static/images/main_page/memo.jpg");
    background-position: left top;
}
.title_todo{
    display: block;
    float: top;
    background-color: #ff5151;
    width: 100%;
    height: 40px;
    margin-top:auto;
    margin-bottom: auto;
    border-radius: 5px;
    line-height: 40px;
}

#label_todo{
    float: left;
    color: #ffffff;
    margin-left: 15px;

}
#myInput{
    float: right;
    width:200px;
    height: 35px;
    margin-top: 3px;

}
.addBtn{
    background-color: rgb(58, 255, 230);
    float: right;
    width:60px;
    height:35px;
    margin-top: 3px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
}
.addBtn:hover {
    background-color: #3bff9e;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #11eff9;
    width: 80px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    margin-left: 5px;
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #28f15b
}

.show {display:block;}

/* Remove margins and padding from the list */

.todo_table ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.todo_table ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 8px 5px 40px;
  background: #eee;
  font-size: 16px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.todo_table ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.todo_table ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.todo_table ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.todo_table ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}



/* Style the close button */
.close {
  position: absolute;
  line-height: 8px;
  right: 0;
  top: 0;
  padding: 8px 8px 8px 8px;
}
/*
.close:hover {
  background-color: #f44336;
  color: white;
}
*/
.col-md-11 {
    text-align: center;
}

code {
  font-size: 80%;
}

.footer {
  position: absolute;
  background-color: rgba(240, 255, 255, 0.7);
  border-radius: 5px;  
  bottom: 9px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 35px; /* Vertically center the text there */
}

