<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>登陆</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}"/>
    <script type="text/javascript" src="{% static "login.js"%}"></script>
</head>
<body>
<div id="login_frame">
    <p id="image_logo"><img src="images/plan.png"></p>
    <form method="post" action="{% static "login.js"%}">
        <p><label class="label_input">用户名</label><input type="text" id="username" class="text_field"></p>
        <p><label class="label_input">密码</label><input type="text" id="password" class="text_field"></p>

        <div id="login_control">
            <input type="button" id="btn_login" value="登陆" onclick="login();"/>
            <a id="forget_pwd" href="forget_pwd.html">忘记密码？</a>
        </div>
		<p class="" style="text-align: right;padding-right: 15px;margin: -15px 0 20 px 0;">
			<a href="#">还没注册？马上注册！</a>
		</p>
		<!--
        <div id="register_control">
            <a id="register_to" href="register.html">没有账户？注册一个！</a>
        </div>
		-->
    </form>
</div>
</body>
</html>